# ==========================
# PostgreSQL
# ==========================
POSTGRES_DB=telecom_dw
POSTGRES_USER=telecom
POSTGRES_PASSWORD=telecom123

# ==========================
# Airflow
# ==========================
AIRFLOW_UID=50000

AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow123

# ==========================
# Kafka
# ==========================
KAFKA_CLUSTER_ID=telecom-cluster-001

# ==========================
# Project
# ==========================
PROJECT_NAME=telecom-analytics-platform

# ==========================
# Environment
# ==========================
ENVIRONMENT=development